base: &base
  adapter: postgresql
  encoding: utf8
  username: postgres
  password:
  host: 127.0.0.1
  pool: 5

development:
  <<: *base
  database: graph_it_development

test:
  <<: *base
  database: graph_it_test

production:
  <<: *base
  url:  <%= ENV['DATABASE_URL'] %>
  pool: <%= ENV['DB_POOL'] || ENV['MAX_THREADS'] || 5 %>
