<%= render 'form', story: @story %>

<div class="container">
  <h1>Stories</h1>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadStoryModal">
    New Story
  </button>
  <div id="stories">
    <%- @stories.in_groups_of(3, false).each do |stories| %>
      <div class="row">
        <%= render stories %>
      </div>
    <%- end %>
  </div>
</div>