// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-purple {
  background-color: #7915B8;
  color: #fff;
}

.btn-outline-purple {
  color: #7915B8;
  border-color: #7915B8;
  border: 2px solid;
}

.btn-purple {
  background-color: #7915B8;
  color: white;
}

.btn-purple:hover {
  background-color: #550D82;
  color: white;
}

.btn-outline-purple:hover {
  color: #fff;
  background-color: #7915B8;
}

.avatar-tiny img {
  width:50px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: left;
}
.form-signin label {
  margin-top: 15px;
  color: #38ccb9;
}

.form-signin i {
  font-size: 12px;
  color: #95999a;
}

.form-signin-heading {
  text-align: center
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-nav > li > strong{
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  display: block;
}

a:hover {
  text-decoration: none;
}

.past-event {
  color: #f78066;
  font-size: 13px;
}

footer {
  margin: 50px 0;
}

.navbar-default {
  background-color: #38ccb9;
  border: none;
  color: #000;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  color: white;
}
