// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story-box {
  margin-bottom: 30px;
  text-decoration: none;

  .thumbnail {
    background-color: #FEFEFE;
    display: block;
    padding: 20px;
  }

  .picture {
    min-height: 600px;
    min-width: 300px;
  }
}

a, a:hover {
  color: #550D82;
  text-decoration: none;
}

.story-title {
  display: block;
  height: 50px;
  margin-bottom: 5px;
}

.story-description {
  display: block;
  height: 30px;
  margin-bottom: 5px;
}

.picture {
  max-width: 300px;
}

// Maps autocomplete
.pac-container {
  z-index: 9999;
}

.video {
  width: 300px;
}

.form-story {
  padding: 15px;
  margin: 0 auto;
  text-align: left;
}

.dropzone {
  border: 2px dashed rgba(0, 0, 0, 0.3) !important;
}