// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story-box {
  margin-bottom: 30px;
  text-decoration: none;

  .thumbnail {
    display: block;
    padding-top: 20px;
  }

  .picture {
    min-height: 600px;
    min-width: 300px;
  }
}

a, a:hover {
  color: #550D82;
  text-decoration: none;
}

.story-section a, .story-section a:hover {
  color: #585858;
}

.story-section {
  padding: 20px;
}

.story-title {
  display: block;
  height: 50px;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 22px;
}

.story-description {
  display: block;
  height: 30px;
  margin-bottom: 5px;
}

// Maps autocomplete
.pac-container {
  z-index: 9999;
}

.form-story {
  padding: 15px;
  margin: 0 auto;
  text-align: left;
}

.dropzone {
  border: 2px dashed rgba(0, 0, 0, 0.3) !important;
}

.picture, .video {
  border-radius: 20px;
  height: 600px;
  width: 300px;
  background-color: #D8D8D8;
}

.location {
  font-size: 15px;
  color: #7915B8;
  height: 15px;
}

.time {
  font-size: 15px;
  color: #8F8F8F;
}
